name: GitHub-Profile-Summary-Cards

on:
  schedule: # S'exécute toutes les 24h
    - cron: "0 0 * * *"
  workflow_dispatch: # Permet de le lancer manuellement

jobs:
  build:
    runs-on: ubuntu-latest
    name: generate

    steps:
      - uses: actions/checkout@v3
      - uses: vn7n24fzkq/github-profile-summary-cards@release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          username: ${{ github.repository_owner }}
          theme: aura # C'est ici que tu choisis le thème (aura, dracula, etc.)
